/* #region ANIMATABLE CUBE */

.cube-wrapper {
    display: flex;
    justify-content: center;
}

.cube-wrapper--background {
    background-image: url(../images/krabbe-kredit-ting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cube {
    width: var(--cube-size);
    height: calc(var(--cube-size) * 2);
}

.cube--hero {
    --cube-size: 34vw;
}

.cube--small {
    --cube-size: 20vw;
}

.cube--perspective {
    perspective: 400px;
}

.cube__container {
    position: relative;
    top: calc(var(--cube-size) / 2);
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(-45deg) rotateZ(0deg);
}

.cube__container--animated {
    animation-name: cube-rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cube__dirt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/dust-and-scratches.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.cube__side {
    position: absolute;
    width: var(--cube-size);
    height: var(--cube-size);
    background-image: url(../images/grid.svg);
    background-size: 100%;
    background-position: center;
}

.cube__side-bottom {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(calc(var(--cube-size) / 2));
}

.cube__side-white {
    background-color: var(--cube-white);
}

.cube__side-up {
    transform: rotateX(90deg) translateX(0px) translateY(0px) translateZ(calc(var(--cube-size) / 2));
}

.cube__side-yellow {
    background-color: var(--cube-yellow);
}

.cube__side-front {
    transform: translateX(0px) translateY(0px) translateZ(calc(var(--cube-size) / 2));
}

.cube__side-blue {
    background-color: var(--cube-blue);
}

.cube__side-back {
    transform: rotateX(180deg) translateX(0px) translateY(0px) translateZ(calc(var(--cube-size) / 2));
}

.cube__side-green {
    background-color: var(--cube-green);
}

.cube__side-right {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(calc(var(--cube-size) / 2));
}

.cube__side-red {
    background-color: var(--cube-red);
}

.cube__side-left {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(calc(var(--cube-size) / 2));
}

.cube__side-orange {
    background-color: var(--cube-orange);
}

.cube__side-none {
    background-color: gray;
    border: calc(var(--cube-size) / 50) solid black;
}

.cube__side-turn {
    height: 100%;
    background-image: url(../images/replay.svg);
}

.cube__side-turn-alt {
    height: 100%;
    background-image: url(../images/ray-start-arrow.svg);
}

.cube__side-turn-cw {
    transform: rotate(-90deg) scaleY(-1);
}

.cube__side-turn-ccw {
    transform: rotate(-90deg);
}

.cube__side-turn-back-cw {
    transform: rotate(-180deg) translateY(35%);
}

.cube__side-turn-back-ccw {
    transform: rotate(0deg) translateY(-35%);
}

.cube__side-turn-left-cw {
    transform: rotate(-270deg) translateY(35%);
}

.cube__side-turn-left-ccw {
    transform: rotate(-90deg) translateY(-35%);
}

.cube__side-turn-down-cw {
    transform: rotate(0deg) translateY(35%);
}

.cube__side-turn-down-ccw {
    transform: rotate(180deg) translateY(-35%);
}

.grid-notation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5vw;
    margin: 20px 0 50px;
}

.cube-notation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cube-notation__title {
    align-self: center;
    margin: -20% 0 0 -45%;
}

@keyframes cube-rotation {
    0% {
        transform: rotateX(-25deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-25deg) rotateY(360deg) rotateZ(0deg);
    }
}

@media only screen and (min-width: 768px) {
    .cube--hero {
        --cube-size: 277px;
    }
    .cube--small {
        --cube-size: 130px;
    }
    .grid-notation {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
    .cube-notation__title {
        margin: -60px 0 0 -40%;
    }
}

@media only screen and (min-width: 1024px) {
    .grid-notation {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
    }
}


/* #endregion ANIMATABLE CUBE */


/* #region CUBE EXAMPLE */

.cube-example-container {
    --cube-example-divide-factor: 1;
    --cube-example-height: 80vw;
    --cube-example-max-height: 400px;
    position: relative;
    height: calc(var(--cube-example-height) / var(--cube-example-divide-factor));
    max-height: calc(var(--cube-example-max-height) / var(--cube-example-divide-factor));
}

.cube-example-small {
    --cube-example-divide-factor: 2;
    /* width: 40%;
    max-width: 200px; */
}

.cube-example--margin-top {
    margin-top: 30px;
}

.cube-example--margin-bottom {
    margin-bottom: 30px;
}

.cube-example {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cube-example-2d {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}

.cube-example-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
}


/* .cube-example-grid {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
} */

.cube-example-2d__algorithm {
    margin-left: 1rem;
}

.cube-example-2d__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cube-example-2d__cube {
    margin: 20px 4px;
    width: 25vw;
    height: 25vw;
    max-width: 150px;
    max-height: 150px;
    display: grid;
    gap: 1px;
    background-color: black;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cube-example-2d__title {
    text-align: center;
}

.cube-example__wrapper {
    position: absolute;
    top: 2vw;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 4px;
    background-color: black;
    border: 2px solid black;
    width: calc(var(--cube-example-height) / 2 / var(--cube-example-divide-factor));
    height: calc(var(--cube-example-height) / 2 / var(--cube-example-divide-factor));
    max-width: calc(var(--cube-example-max-height) / 2 / var(--cube-example-divide-factor));
    max-height: calc(var(--cube-example-max-height) / 2 / var(--cube-example-divide-factor));
}

.cube-example__invalid-icon {
    fill: var(--cube-red);
}

.cube-example__valid-icon {
    fill: var(--cube-green);
}

.cube-example__notation {
    margin: -20px 0 20px;
}

.cube-example__notation-text:before {
    content: " - (";
}

.cube-example__notation-text:after {
    content: ")";
}

.cube-example__notation-text {
    font-weight: 400;
    font-size: 0.75em;
}

.cube__example-turn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-example-center {
    display: flex;
    justify-content: center;
}

.cube-example__top {
    transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
}

.cube-example__front {
    transform: rotateX(45deg) rotateY(45deg) translateX(-50%) translateY(120%);
}

.cube-example__right {
    transform: rotateX(45deg) rotateY(-45deg) translateX(50%) translateY(120%);
}

.cube-example__piece {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-example__piece-side-up {
    position: absolute;
    width: 100%;
    height: 16%;
    margin-top: -70%;
    border: 1px dashed black;
}

.cube-example__piece-side-down {
    position: absolute;
    width: 100%;
    height: 16%;
    margin-top: 70%;
    border: 1px dashed black;
}

.cube-example__piece-side-right {
    position: absolute;
    width: 16%;
    height: 100%;
    margin-left: 70%;
    border: 1px dashed black;
}

.cube-example__piece-side-left {
    position: absolute;
    width: 16%;
    height: 100%;
    margin-left: -70%;
    border: 1px dashed black;
}

.cube-example__piece-bottom-left {
    width: 100%;
    height: 100%;
    border: 1px dashed black;
    transform: translateY(350%) translateX(225%);
}

.cube-example__piece-bottom-right {
    width: 100%;
    height: 100%;
    border: 1px dashed black;
    transform: translateX(350%) translateY(225%);
}

.cube-example__piece-top-left {
    width: 100%;
    height: 100%;
    border: 1px dashed black;
    transform: translateX(-120%);
}

.cube-example__piece-top-right {
    width: 100%;
    height: 100%;
    border: 1px dashed black;
    transform: translateY(-120%);
}

.cube-example__piece-top-left-offset {
    width: 103%;
    height: 103%;
    border: 1px dashed black;
    transform: translateX(-120%) translateY(120%);
}

.cube-example__piece-none {
    background-color: gray;
}

.cube-example__piece-white {
    background-color: var(--cube-white);
}

.cube-example__piece-yellow {
    background-color: var(--cube-yellow);
}

.cube-example__piece-blue {
    background-color: var(--cube-blue);
}

.cube-example__piece-green {
    background-color: var(--cube-green);
}

.cube-example__piece-red {
    background-color: var(--cube-red);
}

.cube-example__piece-orange {
    background-color: var(--cube-orange);
}

.cube-example__pointer {
    --pointer-orientation: -45deg;
    position: absolute;
    width: calc(14vw / var(--cube-example-divide-factor));
    height: calc(14vw / var(--cube-example-divide-factor));
    max-width: calc(4rem / var(--cube-example-divide-factor));
    max-height: calc(4rem / var(--cube-example-divide-factor));
    animation-name: arrow-hover;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 1;
}

.cube-example__right .cube-example__pointer {
    --pointer-orientation: 45deg;
}

.cube-example__pointer-dark {
    fill: var(--theme-darkest);
}

@keyframes arrow-hover {
    0% {
        transform: rotateZ(var(--pointer-orientation)) translateY(-10px);
    }
    50% {
        transform: rotateZ(var(--pointer-orientation)) translateY(-20px);
    }
    100% {
        transform: rotateZ(var(--pointer-orientation)) translateY(-10px);
    }
}

@media only screen and (min-width: 768px) {
    .cube-example-grid {
        grid-template-columns: minmax(50px, 200px) auto;
        align-items: center;
        margin: 2rem 0;
    }
    .cube-example-2d__wrapper {
        align-items: flex-start;
    }
}


/* #endregion CUBE EXAMPLE */